* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.awesome {
  margin-bottom: 110px;
}

.awesome__heading {
  margin-bottom: 92px;
  position: relative;
}

.awesome__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.awesome__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 40px);
}

.awesome__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  text-align: center;
}

.awesome__item-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 26px;
}

.awesome__item-description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.awesome__item {
  width: calc((100% - 54px) / 3);
}

.awesome__wrap-image {
  display: flex;
  position: relative;
  width: 91.86px;
  height: 91.61px;
  border-radius: 50%;
  border: 1px solid #ec7979;
  margin: 0 auto 24px;
}

.awesome__image {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.awesome__content {
  display: flex;
  column-gap: 27px;
}

.tabs {
  margin-bottom: 118px;
}

.tab__sections {
  display: flex;
  border: 1px solid #c6cbcd;
}

.tabs__info {
  width: 60%;
  padding: 55px 29px 54px 101px;
}

.tabs__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
  margin-bottom: 57px;
}

.tabs__image {
  outline: 1px solid #c6cbcd;
}

.tabs__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 26px;
}

.tabs__text:last-of-type {
  margin-bottom: 0;
}

.tabs__btn {
  background: #ec7979;
  margin-top: 70px;
  max-width: 270px;
  width: 100%;
  padding: 14px;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: white;
  border: 1px solid white;
}

.tabs_menu {
  display: flex;
}

.tabs__item {
  max-width: 233px;
  width: 100%;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 1px solid transparent;
  background: transparent;
}

.tabs__block {
  width: 40%;
}

.tabs__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabs__item_active {
  border-radius: 8px 8px 0 0;
  border-color: #c6cbcd;
}

.pricing {
  background-color: #f5f5f5;
  padding: 82px 0 83px;
  margin-bottom: 107px;
}

.pricing__header {
  margin-bottom: 89px;
}

.pricing__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.pricing__title:before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 40px);
}

.pricing__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  text-align: center;
}

.pricing__cards {
  display: flex;
  column-gap: 30px;
}

.pricing__card {
  width: calc((100% - 60px) / 3);
  border: 1px solid #f5f5f5;
  list-style: none;
}

.pricing__card_main {
  margin-top: -30px;
}

.pricing__card-item {
  background-color: white;
  border: 1px solid #f5f5f5;
  padding: 15px 0 14px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #86878b;
}

.pricing__card_name {
  background-color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  border: 1px solid white;
}

.pricing__card_price {
  background-color: #333333;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 25px 0 24px;
}

.pricing__card_time {
  background-color: #333333;
}

.customers {
  margin-bottom: 128px;
}

.customers__header {
  margin-bottom: 83px;
}

.customers__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.customers__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 40px);
}

.customers__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
}

.customers__content {
  display: flex;
  column-gap: 30px;
}

.customer {
  max-width: 370px;
  width: 100%;
}

.customer__review {
  position: relative;
  text-align: center;
  padding: 38px 25px 37px;
  background-color: #e2e2e2;
  border-radius: 4%;
  margin-bottom: 66px;
}

.customer__review::after {
  content: " ";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
  position: absolute;
  top: 100%;
  left: 20%;
}

.customer__comment {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}

.customer__name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 18px;
}

.customer__wrap-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.customer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.customer__job {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
}

.customer__info {
  display: flex;
  column-gap: 30px;
}

.customer__wrap-content {
  width: calc(100% - 100px);
}

/* shade for image */
.design::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

.design {
  position: relative;
  padding-bottom: 70px;
  padding-top: 70px;
  margin-bottom: 67px;
  background-image: url(images/DesignBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.desing__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 80px;
  position: relative;
}

.desing__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid white;
  display: inline-block;
  position: absolute;
  left: calc(50% - 85px);
  top: calc(100% + 40px);
}

.design__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-align: center;
  margin-bottom: 80px;
}

.design__button {
  background: transparent;
  max-width: 370px;
  width: 100%;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid white;
  margin: 0 auto;
  display: block;
}

.design_wrap-button {
  display: flex;
  justify-content: center;
}

.header {
  background-color: #000000;
  /* position: fixed; - пока не надо фиксировать*/
  width: 100%;
  padding: 22px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  list-style: none;
}

.header__menu-item {
  display: inline;
  padding-left: 24px;
  padding-right: 24px;
}

.header__menu-link {
  text-decoration: none;
  color: #e2e2e2;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.footer {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 27px;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  margin-bottom: 34px;
}

.footer__text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.footer__link {
  display: flex;
  width: 53px;
  height: 53px;
  align-items: center;
  justify-content: center;
}

.social {
  background-color: #F8EFEF;
  padding-top: 32px;
  padding-bottom: 18px;
  margin-bottom: 100px;
}

.social__wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 49.84px;

}

.social__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: left;
  text-transform: capitalize;
  color: #333333;
  margin-bottom: 16px;
}

.social__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: left;
  margin-bottom: 18px;
  color: #CCCCCC;
}

.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.social__link {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactUs__wrap {
  /* padding-top: 67px; */
  margin-bottom: 68px;
}

.contactUs__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 80px;
  position: relative;
}

.contactUs__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 40px);
}

.contactUs__subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 39px;
}

.contactUs__form {
  display: flex;
  margin-bottom: 50px;
  column-gap: 30px;
}

.contactUs__customer {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.contactUs__input {
  padding-bottom: 16px;
  padding-top: 50px;
  color: #BDBDBD;
  outline: none;
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

.contactUs__input:focus {
  border-bottom: 1px solid #312f2f;
}

.contactUs__input:hover {
  border-bottom: 1px solid #e67e7e;
}

.contactUs__bottom {
  text-align: center;
}

.contactUs__btn {
  background: #ec7979;
  max-width: 370px;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: white;
  border: 1px solid white;
}

.contactUs__message {
  padding-bottom: 180px;
  padding-top: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

.contactUs__feedback {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.contactUs__message:focus {
  border-bottom: 1px solid #312f2f;
}

.contactUs__message:hover {
  border-bottom: 1px solid #e67e7e;
}