* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding-top: 118px;
    max-width: 1170px;
    padding: 118px 15px 0px 15px;
    margin: 0 auto;
}

.awesome_top {
    margin: auto;
}

.awesome__header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.awesome__subheader {
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 92px;
}

.awesome_h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    margin-bottom: 26px;


}

.awesome_h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
}
.awesome__bottom_item{
    width: calc((100% - 54px)/3);
}
.awesome__bottom-imageContainer {
    padding-left: 35%;
    margin-bottom: 30px;

}

.awesome__imageContainer {
  
    width: 91.86px;
    height: 91.61px;
    padding: 9px;
    border-radius: 50%;
    border: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 24.19px;
    padding-top: 12px;
}

.awesome__imageContainer_2 {
    padding: 20px 0 0 12px;
}

.awesome__imageContainer_3 {
    padding: 15px 0 0 20px;
}

.awesome__bottom {
    display: flex;
    cursor: pointer;
    width: auto;
    margin-bottom: 110px;
    column-gap: 27px;
}

.divider {
    margin: auto;
    width: 170px;
    border-bottom: 1px solid #EC7979;
}

.awesome__image1 {
    width: 62.00px;
    height: 62.00px;
    margin-left: 4.5px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.tab__sections {
    display: flex;
    border-bottom: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    ;
    border-right: 1px solid #C6CBCD;
    ;

}

.tabs__info {
    width: 60%;
    padding-left: 101px;
    padding-top: 55px;
    padding-right: 29px;
    padding-bottom: 54px;
}

.tabs__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 57px;

}

.tabs__image {
    outline: 1px solid #C6CBCD;
}

.tabs__text {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 26px;
}

.tabs__text:last-of-type {
    margin-bottom: 0;
}

.tabs__btn {
    background: #EC7979;
    margin-top: 70px;
    max-width: 270px;
    width: 100%;
    padding: 14px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
    border: 1px solid white;
}


.tabs_menu {
    height: 38px;
    display: flex;
}

.tabs_item {
    max-width: 233px;
    width: 100%;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    font-family: 'Open Sans';
    font-size: 14px;

}

.tabs__image {
    width: 100%;
    height: 100%;
}

.tabs__item_active {
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
}

.tabs__item_inactive {
    border-bottom: 1px solid #C6CBCD;

}

.pricing {
    background-color: #F5F5F5;
    padding: 82px 169px 83px;
}
.pricing__container{
   max-width: 1170px;
    margin: 0 auto;
}
.pricing__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.pricing__subtitle {
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 59px;
}

.pricing__cards {
    display: flex;
    column-gap: 30px;
    height:530px ;
}

.pricing__card {
    width: calc((100% - 60px)/3);
    border: 1px solid #F5F5F5;
}
.pricing__card_reqular{
    align-self:flex-end;
}
.card {
    height: 50px;
    background-color: white;
    border: 1px solid #F5F5F5;
    padding:15px 0 14px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color:  #86878B;
}

.card_name{
    background-color: #333333;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;  
    color: white;
    border: 1px solid white;
}

.card_price{
    background-color:  #333333;
    height: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center; 
    color: white;
    border: 1px solid white;
    padding:25px 0 24px;
}

.card_time{
    background-color: #333333;
}
