* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.header {
  background-color: #000000;
  padding: 22px 0 22px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  list-style: none;
  display: flex;
  column-gap: 50px;
}

.header__menu-link {
  text-decoration: none;
  line-height: 19.07px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.trial__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trial {
  padding: 306px 0 185px;
  background-image: url(assets/trial_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.trial::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  position: absolute;
}

.trial__logo {
  margin-bottom: 72.88px;
}

.trial__text {
  max-width: 670px;
  color: #ffffff;
}

.trial__title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  margin-bottom: 97.12px;
}

.trial__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  position: absolute;
  transform: translateY(223px);
}

.trial__description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 42px;
  max-width: 270px;
}

.trial__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: block;
  background-color: transparent;
  max-width: 270px;
  width: 100%;
  padding: 15px 0;
  border: 2px solid #ffffff;
  text-align: center;
}

.trial__form {
  /* max-width: 470px; */
  /* max-height: 450px; */
  background-color: #ffffff;
  border-radius: 10px;
  /* margin-top: 27px; */
}

.trial__form_text {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  padding: 36px 50px 75px;
}

.trial__form_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.trial__form_title--free {
  color: #ec7979;
}

.trial__form-input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  padding: 16px 0;
  max-width: 370px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.trial__form-input:focus {
  outline: none;
}

.trial__form_button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  background-color: #ec7979;
  max-width: 470px;
  width: 100%;
  padding: 20px 0;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  border: none;
}

.banner {
  background-color: #f8efef;
  margin-bottom: 100px;
  padding: 32px 0 18px;
}

.banner__wrapper {
  display: flex;
  justify-content: space-between;
}

.banner__text {
  width: 40%;
}

.banner__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.68px;
  margin-bottom: 16px;
  color: #333333;
}

.banner__description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  color: #86878b;
}

.banner__icons {
  display: flex;
  column-gap: 30px;
  align-self: center;
}

.banner__link {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  margin-bottom: 118px;
}

.tabs__item {
  display: inline-block;
  max-width: 203px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  padding: 10px;
  border: 1px solid transparent;
  border-bottom: none;
  background-color: white;
}

.tabs__item--active {
  border-color: #c6cbcd;
  border-radius: 8px 8px 0 0;
}

.tabs__wrapper {
  display: flex;
  border: 1px solid #c6cbcd;
}

.tabs__content {
  padding: 55px 29px 54px 100px;
  width: 60%;
}

.tabs__content::before {
  content: "";
  width: 202px;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 40px;
}

.tabs__image {
  width: 40%;
}

.tabs__statue {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tabs__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40.85px;
  margin-bottom: 56px;
}

.tabs__description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 26px;
}

.tabs__description:last-of-type {
  margin-bottom: 0;
}

.tabs__button {
  background-color: #ec7979;
  max-width: 270px;
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  margin-top: 84px;
}

.tabs__button-text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
}

.benefits {
  margin-bottom: 110px;
}

.benefits__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42.26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.benefits__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  color: #86878b;
}

.benefits__heading {
  margin-bottom: 92px;
}

.benefits__content {
  text-align: center;
  display: flex;
  column-gap: 27px;
}

.benefit {
  width: calc((100% - 54px) / 3);
}

.benefit:last-child {
  margin: 0;
}

.benefit__circle {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  margin-bottom: 26px;
  text-align: center;
}

.benefit__description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
}

.pricing {
  background-color: #f5f5f5;
  padding-top: 82px;
  padding-bottom: 83px;
  margin-bottom: 107px;
}

.pricing__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42.26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 80px;
  position: relative;
}

.main-title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 40px);
}

.pricing__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  color: #86878b;
}

.pricing__heading {
  margin-bottom: 79px;
}

.plan__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  background-color: #333333;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-bottom: none;
  padding: 14px;
  text-align: center;
}

.plan__price {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.26px;
  text-align: center;
  background-color: #333333;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-bottom: none;
  padding: 29px;
  text-align: center;
}

.plan__description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  color: #86878b;
  background-color: #333333;
  border: 2px solid #f5f5f5;
  border-bottom: none;
  padding: 14px;
  text-align: center;
}

.plan__size {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  color: #86878b;
  text-transform: capitalize;
  border: 2px solid #f5f5f5;
  border-bottom: none;
  padding: 12px;
  text-align: center;
  background-color: #ffffff;
  list-style: none;
}

.pricing__plans {
  display: flex;
  column-gap: 30px;
}

.plan {
  max-width: 370px;
  width: 100%;
}

.plan__optima {
  margin-top: -20px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.customers {
  margin-bottom: 107px;
}

.customers__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42.26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 80px;
  position: relative;
}

.customers__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  color: #86878b;
}

.customers__heading {
  margin-bottom: 83px;
}

.customers__content {
  display: flex;
  column-gap: 30px;
}

.customer {
  width: calc((100% - 60px) / 3);
}

.customer__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  color: #86878b;
}

.customer__text-wrap {
  margin-bottom: 66px;
  padding: 38px 25px 37px;
  background-color: #e2e2e2;
  border-radius: 10px;
  position: relative;
}

.customer__text-wrap::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 68px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
  display: inline-block;
}

.customer__name-wrapper {
  width: calc(100% - 100px);
}

.customer__name {
  margin-bottom: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.customer__position {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
}

.customer__wrapper {
  display: flex;
  column-gap: 30px;
}

.customer__photo-wrapper {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.customer__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.design {
  padding: 70px 0;
  background-image: url(assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 67px;
  position: relative;
}

.design::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  position: absolute;
}

.design__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  color: #ffffff;
}

.design__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-85px, 80px);
}

.design__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-bottom: 79.86px;
  color: #ffffff;
}

.design__button {
  display: block;
  background-color: transparent;
  max-width: 370px;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  border: 2px solid #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  color: #ffffff;
}

.contact {
  margin-bottom: 66px;
}

.contact__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.contact__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 80px);
}

.contact__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin-bottom: 89px;
}

.contact__form-input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  padding: 16px 0;
  max-width: 571px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.contact__form-input-message {
  resize: none;
}

.contact__form-input:focus {
  outline: none;
}

.contact__form_info {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: calc((100% - 30px) / 2);
}

.contact__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.contact__form_message {
  width: calc((100% - 30px) / 2);
}

.contact__form-content {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  column-gap: 30px;
}

.contact__form_button {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  display: block;
  background-color: #ec7979;
  max-width: 370px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
}

.footer {
  background-color: #000000;
  padding: 39px 0 27px;
}

.footer__company-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  color: #ffffff;
}

.footer__icons {
  margin-bottom: 32px;
  column-gap: 20px;
  display: flex;
  justify-content: center;
}

.footer__link {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
