*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    /* padding:  20px 15px; */
    margin: 0 auto;
}

.awesome_top{
    margin: auto;
}
.awesome__header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size:36px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px; 
}

.awesome__subheader{
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
color:#86878B;
align-items: center;
text-align: center;
margin-top: 40px;
margin-bottom: 92px;   
}

.awesome_h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    margin-bottom: 26px;

    
}

.awesome_h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;   
}

.awesome__bottom-imageContainer{
    padding-left: 35%;
    margin-bottom: 30px;
}

.awesome__bottom-imageCircle{
    width: 91.86px; 
    height:91.61px;
    padding: 7px;
    border-radius: 50%;  
    border:1px solid #EC7979;
    margin: auto;
    margin-bottom: 24.19px;
    padding-top: 12px

    /* text-align: center;
    align-items: center; */

}

.awesome__bottom{
    display:flex; 
    cursor: pointer;
    width: auto;  
}

.awesome__divider{
    margin: auto;
    width: 150px;
    border-bottom: 1px solid  #EC7979 ;
}

.awesome__image1{
    width: 65.00px;
    height: 65.00px;
    margin-left: 4.5px;
}

