    *{
        margin : 0;
        padding: 0; 
        box-sizing: border-box;
        background-color: #F5F5F5;
        }
    .container{
        margin: 0 auto;
        padding: 0px 15px;
        max-width: 1200px;
        margin-top: 82px;
    }
    .pricing__title{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        font-weight: 400;
        margin-top: 82px;
    }
    .pricing__liine{
        border: 1px solid #EC7979;
        margin: 40px auto;
        width: 170px;
        height: 1px;
    }
    .pricing__text{
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #86878B;
        margin-top: 40px;
        margin-bottom: 59px;
    }
    .pricing__kinds{
        display:flex;
        column-gap: 30px;

    }
    .pricing__itemtext{
        background-color: #333333;
        width: 370px;
        height: 60px;
        font-family: 'Open Sans', sans-serif ;
        color: #FFFFFF;
        text-align: center; 
        font-size: 24px;
        padding-top: 10px;
        border: 1px solid #FFFFFF;

    }
    .pricing__itemtext1{
        background-color: #333333;
        width: 370px;
        height: 100px;
        font-family: 'Raleway', sans-serif ;
        color: #FFFFFF;
        text-align: center;
        font-size: 36px;
        padding-top: 25px;
        font-weight: 700;
        border: 1px solid #FFFFFF;
        
    }
    .pricing__itemtext2{
        background-color: #333333;
        width: 370px;
        height: 50px;
        font-family: 'Raleway', sans-serif;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 18px;
        padding-top: 15px;
        font-weight: 400;
        border: 1px solid #F5F5F5;
    }
    .pricing__element{
        list-style-type: none;
        width: 370px;
        height: 50px;
        font-family:'Raleway', sans-serif ;
        background-color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        color: #86878B;
        text-align: center;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        border: 1px solid #F5F5F5;
        
    }
    .pricing__item2{
        margin-top: -20px;
    }
    .wrapper__awesome{
        padding: 82px 0 83px;
    }
    .container{
        margin: 0 auto;
        padding: 0px 15px;
        max-width: 1200px;
        margin-top: 40px;
    }
    .awesome__title{
        margin-bottom: 40px;
        text-align: center;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 36px;
        position: relative;
    }
    .awesome__header::before{
        content: '';
        width: 170px;
        border-bottom: 1px solid #EC7979;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 100%;
        bottom: 32px;
        transform: translate(-50% , -300px);

    }
   

    
    .awesome__text{
        font-family: 'Raleway';
        text-align: center;
        color: #86878B;
    }
    .awesome__benefits-svg{
        border-radius: 50% ;
        padding: 2px;
        margin: calc( ( 371px - 92.25px) /2 );
        margin-bottom: 24px;
    }
    .awesome__title2{
        font-family: 'Open Sans';
        text-align: center;
    }
    .awesome__text2{
        font-family: 'Raleway';
        margin-top: 26px;
        font-size: 18px;
        text-align: center;
        color: #000000;
    }
    .awesome__benefits{
        display: flex;
    }
    .awesome__item{
        margin-right: 27px
    }
    .tabs {
        margin-bottom: 118px;
      }
      .tabsheader {
        display: flex;
      }
      .tabsitem {
        font-family: 'Open Sans' , sans-serif;
        text-align: center;
        border: 1px solid transparent;
        background-color: transparent;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 10px;
        max-width: 201px;
        width: 100%;
      }
      .tabsitem-open {
        border-color: #c6cbcd;
        border-radius: 5px 5px 0 0;
      }
      .tabcontent {
        display: flex;
        border: #c6cbcd 2px solid;
      }
      .tabinfo {
        padding: 55px 29px 54px 100px;
        width: 60%;
      }
      .tabinfo-title {
        font-family: 'Open Sans' , sans-serif;
        margin-bottom: 57px;
        font-size: xx-large;
      }
      .tabinfo-text {
        width: 570px;
        font-family: 'Raleway' ,sans-serif;
        margin-bottom: 26px;
      }
      .tabinfo-text:last-of-type {
        margin-bottom: 0;
      }
      .tabinfo-button {
        margin-top: 84px;
        max-width: 270px;
        width: 100%;
        height: 58px;
        background-color: #ec7979;
        color: white;
        font-family: 'Open Sans' , sans-serif;
        border: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        padding: 16px;
        font-size: large;
      }
      .tabwrap-img {
        width: 40%;
      }
      .tab__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
      }
