* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  padding: 22px 0px;
  background: #000000;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  column-gap: 56px;
}

.menu__list-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  list-style: none;
  line-height: 19px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
}

.axit {
  position: relative;
  padding: 306px 0 185px;
  background-image: url(../images/bg/axit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.axit::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.axit__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.axit__content {
  max-width: 670px;
  width: 100%;
}
.axit__logo {
  margin-bottom: 72px;
}
.axit__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 97px;
}
.underline__tittle::before {
  content: "";
  width: 170px;
  border: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 40px);
}
.white::before {
  border: 1px solid #ffffff;
}
.left::before {
  left: 0px;
  transform: translate(0, 40px);
}
.axit__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #ffffff;
}
.axit__btn {
  margin-top: 42px;
  max-width: 270px;
  width: 100%;
  padding: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.axit__item {
  position: relative;
  max-width: 470px;
  width: 100%;
  padding: 36px 0 0;
  background: #ffffff;
  border-radius: 10px;
}
.axit__description {
  margin-bottom: 75px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
span {
  color: #ec7979;
}
.axit__form-wrapper {
  margin: 0 0 75px;
  padding: 0 50px;
}
.axit__form-group {
  position: relative;
  margin-bottom: 31px;
}
.axit__form-input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  transition: 0.3s;
}
.axit__form-input:focus {
  border-bottom: 1px solid #564356;
}
.axit__form-label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: #bdbdbd;
}
.axit__form-input:focus ~ .axit__form-label,
.axit__form-input:not(:placeholder-shown) ~ .axit__form-label {
  top: -18px;
  font-size: 12px;
  color: #bdbdbd;
}
.axit__form-btn {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #ec7979;
  outline: none;
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.socials {
  padding: 32px 0 18px;
  background: #f8efef;
  margin-bottom: 100px;
}
.socials__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social__description {
  max-width: 470px;
  width: 100%;
}
.social__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
  margin-bottom: 16px;
}
.social__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #86878b;
}
.social__icons {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.social__link {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  margin-bottom: 118px;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.tabs__list-item {
  margin-right: 140px;
  display: inline-block;
}

.tabs__list-link {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  max-width: 183px;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-bottom: none;
}
.tab__list-link--active {
  position: relative;
  border-color: #c6cbcd;
  border-radius: 8px 8px 0 0;
}

.tab__list-link--active::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: calc(100% - 2px);
  background: #ffffff;
}

.tab {
  border: 1px solid #c6cbcd;
  display: flex;
}

.tab__content {
  width: 60%;
  padding: 55px 29px 54px 101px;
}
.tab__wrap {
  width: 40%;
}

.tab__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 40px;
}

.tab__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 26px;
}

.tab__text:last-of-type {
  margin-bottom: 0;
}

.tab__btn {
  margin-top: 84px;
  max-width: 240px;
  width: 100%;
  padding: 13px;
  background-color: #ec7979;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
}
.tab__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages {
  margin-bottom: 110px;
}

.advantages__tittle {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.advantages__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  margin-bottom: 92px;
  color: #86878b;
}

.advantages__block {
  display: flex;
  text-align: center;
  justify-content: space-between;
  column-gap: 27px;
}

.advantage {
  width: calc((100% - 27px - 27px) / 3);
}

.advantage__border {
  margin: auto;
  margin-bottom: 24px;
  border: 1px solid #ec7979;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage__img {
}
.advantage__tittle {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
.advantage__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}
.options {
  padding: 82px 0px;
  background-color: #f5f5f5;
  margin-bottom: 107px;
}

.options__tittle {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
  color: #000000;
}

.options__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 59px;
  color: #86878b;
}
.options__block {
  display: flex;
  column-gap: 30px;
  text-align: center;
}
.option__list {
  list-style: none;
  max-width: 370px;
  width: 100%;
}
.option__item {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 15px;
  border: 2px solid #f5f5f5;
  background-color: #ffffff;
  color: #86878b;
}
.option__item-black {
  background-color: #333333;
  color: #ffffff;
}
.option__item-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: capitalize;
}
.option__item-price {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.option__item-description {
  color: #86878b;
}
.option__list-up {
  margin-top: -10px;
}

.customers {
  margin-bottom: 107px;
}

.customers__tittle {
  position: relative;
  margin-bottom: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.customers__text {
  margin-bottom: 88px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #86878b;
}
.customers__block {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.customer {
  max-width: 370px;
  width: 100%;
}
.customer__text {
  position: relative;
  margin-bottom: 66px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #86878b;

  border: 1px solid #e2e2e2;
  background: #e2e2e2;
  border-radius: 10px;
  padding: 38px 25px 37px;
}
.customer__text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 68px;
  width: 0%;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
  display: inline-block;
}
.customer__wrapper {
  display: flex;
  column-gap: 30px;
}
.customer__photo-wrapper {
  height: 70px;
  width: 70px;
  overflow: hidden;
  border-radius: 50%;
}
.customer__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer__name-wrapper {
  width: calc(100% - 100px);
}
.customer__name {
  margin-bottom: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}
.customer_post {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.design {
  position: relative;
  padding: 70px 0px;
  margin-bottom: 70px;
  background-image: url(../images/bg/design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.design::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.design__tittle {
  position: relative;
  margin-bottom: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.design__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.design__btn {
  margin-top: 80px;
  max-width: 370px;
  width: 100%;
  padding: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.design__btn:hover {
  background-color: #ffffff;
  color: rgb(217, 214, 214);
}
.contact {
  text-align: center;
  margin-bottom: 66px;
}
.contact__title {
  position: relative;
  margin-bottom: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.contact__text {
  margin-bottom: 89px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #86878b;
}
.form {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.contact__details {
  max-width: 570px;
  width: 100%;
}
.form__group {
  position: relative;
  margin-bottom: 50px;
}
.form__group:last-child{
  margin-bottom: 0;
}
.form__input {
  max-width: 570px;
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}
.form__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #bdbdbd;
  transition: 0.3s;
}
.form__input:focus {
  border-bottom: 1px solid red;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -18px;
  font-size: 12px;
  color: #bdbdbd;
}
.form__textarea {
  resize: none;
  max-width: 570px;
  width: 100%;
  height: 185px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}
.form__textarea:focus {
  border-bottom: 1px solid red;
}
.form__textarea:focus ~ .form__label,
.form__textarea:not(:placeholder-shown) ~ .form__label {
  top: -18px;
  font-size: 12px;
  color: #bdbdbd;
}
.send__btn {
  max-width: 370px;
  width: 100%;
  padding: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  background-color: #ec7979;
  border: none;
  margin-top: 50px;
}
.footer {
  padding-top: 42px;
  padding-bottom: 27px;
  background: #000000;
}

.footer__icons {
  display: flex;
  justify-content: center;
  column-gap: 44px;
  margin-bottom: 32px;
}
.footer__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
}
