* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #000000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
}

.header__logo {
  max-width: 86px;
  width: 100%;
}

.header__img {
  width: 100%;
  object-fit: contain;
}

.header__nav {
  display: flex;
  column-gap: 38px;
}

.header__item {
  width: calc(100% / 5);
  list-style-type: none;
}

.header__link {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  padding: 22px;
  display: inline-block;
}

.header__link:hover {
  background: #ec7979;
}

.header__link:active {
  background: #ab4949;
}

.start {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../image/bg_city.jpg);
  padding: 70px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 306px 0 185px;
}

.start__wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}

.start__about {
  width: 100%;
  max-width: 670px;
}

.start__logo {
  width: 170px;
  margin-bottom: 73px;
}

.start__slogan {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 97px;
  position: relative;
}

.start__slogan::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  position: absolute;
  top: 100%;
  transform: translateY(55px);
}

.start__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  max-width: 270px;
}

.start__btn--white {
  max-width: 270px;
  width: 100%;
  padding: 13px;
  background: none;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 42px;
}

.start__btn--white:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}

.start__btn--white:active {
  background-color: #ab4949;
  border: 2px solid #ab4949;
  color: #ffffff;
}

.registrations {
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  max-width: 470px;
  /* height: 450px; - не ставим высоту элементам*/
  position: relative;
  padding-top: 36px;
  overflow: hidden;
}

.registrations__free-trial {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-bottom: 59px;
  text-align: center;
}

.registrations__free-trial--color {
  color: #ec7979;
}

.registration__field {
  max-width: 370px;
  display: block;
  margin: 0 auto 31px;
  width: 100%;
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  outline: none;
}

.registration__field:last-of-type {
  margin-bottom: 0;
}

.registration__field::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}

.registration__btn:hover {
  background-color: #ab4949;
  border: 2px solid #ab4949;
  color: #ffffff;
}

.registration__btn {
  width: 100%;
  padding: 20px;
  background: #ec7979;
  border-radius: 0px 0px 10px 10px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 75px;
  border: 2px solid transparent;
}

.media {
  padding: 32px 0 18px;
  background: #f8efef;
  margin-bottom: 100px;
}

.media__wrap {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.media__content {
  max-width: 470px;
}

.media__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.media__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #86878B;
}

.media__icon {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.media__link {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media__social {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.awesome {
  margin-bottom: 110px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.head {
  text-align: center;
}

.head__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 80px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.head__title::before {
  content: "";
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 40px);

  /*transform используем для смешения - исправить во всем документе*/
}

.head__quote {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}

.content {
  margin-top: 92px;
  display: flex;
  column-gap: 27px;
}

.content__item {
  width: calc((100% - 27px - 27px) / 3);
}

.content__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.content__td {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 26px;
  font-style: normal;
}

.content__description {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.tabs {
  margin-bottom: 118px;
}

.tabs__btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  border: 1px solid transparent;
  max-width: 203px;
  width: 100%;
  padding: 10px;
  background: none;
  cursor: pointer;
}

.tabs__btn--active {
  border: 1px solid #c6cbcd;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  position: relative;
}

.tabs__btn--active::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-2px);
}

.tab {
  border: 1px solid #c6cbcd;
  display: flex;
}

.tab :last-child {
  flex: 1 1;
}

.tab__content {
  width: 60%;
  padding: 55px 29px 54px 100px;
}

.tab__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 57px;
  color: #000000;
}

.tab__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 26px;
  color: #000000;
}

.tab__text:last-of-type {
  margin-bottom: 0px;
}

.tab__btn {
  margin-top: 84px;
  max-width: 270px;
  width: 100%;
  padding: 13px;
  background-color: #ec7979;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}

.tab__btn:hover {
  background-color: #ab4949;
}

.tab__btn:active {
  box-shadow: inset 0px 0px 10px #ab4949;
  background-color: #ec7979;
}

.tab__wrap {
  width: 40%;
}

.tab__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pricing {
  background-color: #f5f5f5;
  padding: 82px 0 83px;
  margin-bottom: 107px;
}

.subs {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.sub {
  flex: 1 1;
  max-width: 370px;
  width: 100%;
}

.sub__name {
  font-family: "Open Sans", sans-serif;
  background-color: #333333;
  border: 1px solid #f5f5f5;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 12px;
  text-align: center;
  color: #ffffff;
}

.sub__name--up {
  margin-top: -20px;
}

.sub__price {
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  border: 1px solid #f5f5f5;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  padding: 27px;
}

.sub__free {
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  border: 1px solid #f5f5f5;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 20px;
  padding: 14px;
}

.sub__list {
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  list-style: none;
  color: #86878b;
  font-size: 18px;
  line-height: 20px;
}

.sub__element {
  border: 1px solid #f5f5f5;
  padding: 14px;
}

.customers {
  margin-bottom: 107px;
}

.customers__content {
  display: flex;
  column-gap: 30px;
  margin-top: 83px;
}

.customer__text-wrap {
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 38px 25px 37px;
  position: relative;
  margin-bottom: 66px;
}

.customer__text-wrap::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 68px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
  display: inline-block;
}

.customer__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  text-align: center;
}

.customer__staff {
  display: flex;
  column-gap: 30px;
}

.customer__photo-wrap {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.customer__photo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.customer__staff {
  align-items: center;
}

.customer__name-wrap {
  width: calc(100% - 100px);
}

.customer__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 18px;
}

.customer__profession {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.stylish {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/bg_nightcity.jpg);
  padding: 70px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 67px;
}

.title__white {
  color: #ffffff;
}

.title__white::before {
  border-bottom: 1px solid #ffffff;
}

.quote__white {
  color: #ffffff;
  margin-bottom: 80px;
}

.btn__white {
  max-width: 270px;
  width: 100%;
  padding: 13px;
  background: none;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}

.btn__white:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}

.btn__white:active {
  background-color: #ab4949;
  border: 2px solid #ab4949;
  color: #ffffff;
}

.contacts {
  margin-bottom: 67px;
}

.contact {
  display: flex;
  column-gap: 30px;
  margin-top: 89px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.contact__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  width: 50%;
}

.contact__field {
  width: 100%;
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  outline: none;
}

.contact__field::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}

.contact__message {
  width: calc(50% - 30px);
  resize: none;
}

.contact__btn {
  margin-top: 84px;
  max-width: 270px;
  width: 100%;
  padding: 13px;
  background-color: #ec7979;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
}

.contact__btn:hover {
  background-color: #ab4949;
}

.contact__btn:active {
  box-shadow: inset 0px 0px 10px #ab4949;
  background-color: #ec7979;
}
.footer {
  background: #000000;
  padding: 35px 0 27px;
}

.footer__icon {
  display: flex;
  justify-content: center;
  column-gap: 33px;
  margin-bottom: 28px;
}

.footer__icon-item {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__corporation {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
