* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.awesome__line {
  width: 170px;
  margin: 0 auto;

  border-top: 1px solid #ec7979;
}
.awesome__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.awesome__subtitle {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #86878b;
}
.awesome__wrap {
  border: 1px solid red;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  text-align: center;
}
.awesome__img {
  padding-top: 10px;
}
.awesome__item {
  display: inline-block;
}
.awesome__text {
  text-align: center;
  width: calc(84px + 371px);
}
.awesome__block {
  text-align: center;
  margin-top: 216px;
}
.awesome__wrap {
  text-align: center;
  display: inline-block;
}
