* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.awesome{
    margin-bottom: 98px;
}
.container{
    width: 1170px;
    margin:0 auto;
    padding: 0 15px;
}
.title__aw{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    margin-bottom: 40px;
    margin-top: 130px;
    color: #000000;
}
.line{
    border-bottom: 1px solid #EC7979;
    width: 170px;
    height: 0px;
    margin-left: 499px;
    margin-bottom: 40px;
}
.quote__text{
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 92px;
}
.content__item{
    width:calc((100% - 8px -27px -27px) / 3);
    display:inline-block;
}
.content__circle{
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto 30px;
    text-align: center;  
    margin-bottom: 24px;
}
.content__item-1{
    margin-top: 10px;
}
.content__item-2{
    margin-top: 23px;
}
.content__item-3{
    margin-top: 13px;
}
.content__td{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-bottom:26px;
}
.content__description{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-right: 27px;
}