* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: #000;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}


.navigation {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.nav__btn {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.about {
  position: relative;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 306px;
  padding-bottom: 185px;
}
.about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
}
.about__container{
  position: relative;
}
.about__wrap {
  display: flex;
  column-gap: 61px;
  justify-content: space-between;
  align-items: center;
}
.about__info {
  max-width: 670px;
  width: 100%;
}
.about__name{
  margin-bottom: 73px;
}
.about__goal {
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56.35px;
  margin-bottom: 97px;
}
.about__goal::before {
  position: absolute;
  content: "";
  max-width: 170px;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  left: 0;
  top: calc(100% + 55px);
}
.about__text {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 42px;
}
.about__btn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 17px 0;
  max-width: 270px;
  width: 100%;
}

.form__first{
  max-width: 470px;
  width: 100%;
  background-color: #ffffff;
  padding-top: 36px;
  border-radius: 10px;
}
.form__first__title{
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.68px;
  color: #333333;
  margin-bottom: 75px;
  text-align: center;
}
.form__first__title--color{
  color: #ec7979;
}
.form__first__group{
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  padding-left: 50px;
  padding-right: 50px;
}
.form__field{
  border: none;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 17px;
  margin-bottom: 31px;
  color: #BDBDBD;
}
.form__field:last-of-type{
  margin-bottom: 0px;
}
.form__field::placeholder{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
  padding-bottom: 16px ;
}
.form__field:focus{
  outline: none;
}
.form__first__btn{
  background-color: #ec7979;
  color: #ffffff;
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
}
.media {
  background-color: #f8efef;
  padding-top: 32px;
  padding-bottom: 18px;
  margin-bottom: 100px;
}

.media__content {
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
}
.media__info {
  max-width: 470px;
  width: 100%;
}
.media__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.68px;
  color: #333333;
  margin-bottom: 16px;
}
.media__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  color: #86878b;
}
.media__contacts {
  max-width:670px ;
  width: 100%;
  /* width: calc(100% - 39% - 30px); */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* margin: auto 0; */
}
.contacts__icone{
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;

}
.tabs {
  margin-bottom: 118px;
}
.tabs_link {
  display: inline-block;
  max-width: 184px;
  width: 100%;
  padding: 10px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid transparent;
}
.tabs_link--active {
  position: relative;
  border: 1px solid #c6cbcd;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}
.tabs_link--active::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  left: 0;
  top: calc(100% - 2.5px);
  background-color: #ffffff;
}
.tab {
  display: flex;
  border: 1px solid #c6cbcd;
}
.tab__content {
  /* display: inline-block; */
  width: 60%;
  padding: 55px 29px 54px 100px;
  vertical-align: top;
}
.tab__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 57px;
}
.tab__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 26px;
}

.tab__text:last-of-type {
  margin-bottom: 84px;
}
.tab__btn {
  max-width: 270px;
  width: 100%;
  color: #ffffff;
  background-color: #ec7979;
  border: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  padding: 13px;
  line-height: 26px;
  cursor: pointer;
}
.tab__wrap-image {
  width: 40%;
}
.tab__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.designs {
  margin-bottom: 110px;
}

.designs__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 80px;
  text-align: center;
}
.title__line::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #ec7979;
  width: 170px;
  left: 50%;
  top: 100%;
  transform: translate(-50% , 40px);
}

.designs__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 92px;
  text-align: center;
  color: #86878b;
}
.designs__content {
  display: flex;
  column-gap: 27px;
}

.design {
  width: calc((100% - 27px - 27px) / 3);
}


.design__border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  margin-bottom: 24px;
  margin: 0 auto 24px;
}

.design__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
  text-align: center;
}
.design__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.options {
  background-color: #f5f5f5;
  padding-bottom: 83px;
  padding-top: 58px;
  margin-bottom: 107px;
}
.options__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  /* padding-top: 58px; */
  margin-bottom: 80px;
  text-transform: uppercase;
}

.options__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
  text-align: center;
  margin-bottom: 59px;
}
.options__content {
  display: flex;
  column-gap: 30px;
}
.option {
  width: calc((100% - 30px - 30px) / 3);
  /* display: flex;
    flex-direction: column; */
}
.option_down {
  padding-top: 20px;
}
.option__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  line-height: 32px;
  padding: 14px;
}
.option__price {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  line-height: 42px;
  padding: 29px;
}
.option__third {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  line-height: 22px;
  padding: 14px;
}
.option__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #ffffff;
  color: #86878b;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  line-height: 22px;
  padding: 14px;
}
.customers {
  margin-bottom: 107px;
}
.customers__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.customers__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
  text-align: center;
  margin-bottom: 83px;
}
.customers__content {
  display: flex;
  column-gap: 30px;
}
.customer {
  width: calc((100% - 30px - 30px) / 3);
}
.customer__wrap-text {
  position: relative;
  background-color: #e2e2e2;
  border-radius: 10px;
  margin-bottom: 66px;
  padding: 38px 25px 38px 25px;
}
.customer__wrap-text::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
}
.customer__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #86878b;
  text-align: center;
}

.customer__info-wrap {
  display: flex;
  column-gap: 30px;
}

.customer__info-text {
  width: calc(100% - 70px - 30px);
}
.customer__wrap-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.customer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.customer__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 18px;
}
.customer__position {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.stylish {
  position: relative;
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 67px;
}
.stylish::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
}
.stylish__container{
  position: relative;
}
.stylish__title {
  color: #ffffff;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42.26px;
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.stylish__title::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #ffffff;
  max-width: 170px;
  width: 100%;
  left: 50%;
  top: 40px;
  transform: translate(-50%,40px);
}
.stylish__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-bottom: 80px;
  color: #ffffff;
}
.stylish__bnt {
  /* left: calc(50% - 185px); */
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  max-width: 370px;
  width: 100%;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  line-height: 24px;
  padding: 17px;
  cursor: pointer;
  margin: 0 auto;
  /* justify-content: center; */
}
.contact_us{
  margin-bottom: 66px;
}
.contact_us__title{
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 80px;
  color: #000000;
  text-transform: uppercase;
}
.contact_us__text{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  margin-bottom: 89px;
  color: #86878B;
}
.form__second__wrap{
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 50px;
}

.form__second__group{
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px)/2);
}
.form__string{
  border: none;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 16px;
  margin-bottom: 50px;
  color: #BDBDBD;
}
.form__string:last-of-type{
  margin-bottom: 0px;
}
.form__string:focus{
  outline: none;
}
.form__string::placeholder{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}
.form__area{
  width: calc((100%  - 30px)/2);
  border: none;
  border-bottom: 1px solid #BDBDBD;
  color: #BDBDBD;
  resize: none;
}
.form__area:focus{
  outline: none;
}
.form__area::placeholder{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}
.form__second__btn{
  display: block;
  background-color: #ec7979;
  color: #ffffff;
  padding: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: none;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;

}
.footer {
  background-color: #000;
  padding-top: 39px;
  padding-bottom: 27px;
}
.contacts {
  display: flex;
  column-gap: 30px;
  
}
.contacts--footer{
  justify-content: center;
  margin-bottom: 32px;
}
.contacts__icone--footer{
  display: flex;
  width: 53px;
  height: 53px;
  justify-content: center;
  align-items: center;

}

.footer_text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
