* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tabs {
  margin-bottom: 114px;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.designs {
  margin-bottom: 84px;
}
.designs__title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 40px;
}
.designs__line,
.prices__line {
  width: 170px;
  border: 1px solid #ec7979;
  align-items: center;
  margin: 0 auto 40px;
}
.designs__text,
.prices__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(134, 135, 139, 1);
  margin-bottom: 92px;
}
.designs__content {
  display: flex;
  column-gap: 27px;
}

.design__wrap-img {
  border: 1px solid #ec7979;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
  width: 92px;
  height: 92px;
}
.design__title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 30px;
}
.design__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.tabs__item {
  display: inline-block;
  max-width: 203px;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid preparets;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
  text-align: center;
}
.tabs__item_active {
  border: 1px solid #c6cbcd;
  border-bottom: none;
}
.tab {
  display: flex;
  border: 1px solid #c6cbcd;
  max-width: 100%;
}
.tab__block {
  padding: 55px 30px 54px 100px;
  width: 60%;
}
.tab__title {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  align-items: center;
}

.tab__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: justify;
  margin-bottom: 26px;
}
.tab__text:last-of-type {
  margin-bottom: 0;
}

.tab__button {
  margin-top: 84px;
  border: #ec7979;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  max-width: 270px;
  width: 100%;
  background-color: #ec7979;
  padding: 16px;
}
.tab__wrap-img {
  width: 40%;
}
.tab__img {
  width: 100%;
  height: 100%;
}

.prices {
  margin-bottom: 107px;
  padding: 82px 0 83px;
  background: #f5f5f5;
}
.prices__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.prices__text {
  margin-bottom: 79px;
}
.prices__list {
  display: flex;
  column-gap: 30px;
}
.price {
  max-width: 370px;
  width: 100%;
}
.price__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background: #333333;
  border: 2px solid #f5f5f5;

  padding: 11px;
}
.price__cost {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  padding: 29px;
  background: #333333;
  border: 2px solid #f5f5f5;
}
.price__space:nth-child(3) {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff80;
  background: #333333;
  border: 2px solid #f5f5f5;
  padding: 14px;
}
.price__space {
  background: #ffffff;
  border: 2px solid #f5f5f5;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #86878b;
  list-style: none;
  padding: 14px;
}

.price_up {
  margin-top: -20px;
}
