* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.benefits__title {
  font-family: "Raleway";
  margin-top: 70px;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.benefits__line {
  width: 170px;
  border-bottom: 1px solid #ec7979;
  margin: 0 auto 40px;
}
.benefits__text {
  font-family: "Raleway";
  text-align: center;
  color: #86878b;
}

.benefits__header {
  margin-bottom: 92px;
}

.benefits__content {
  display: flex;
  column-gap: 27px;
}

.benefit {
  text-align: center;
  max-width: 371px;
}
.benefit__title {
  font-family: "Open Sans";
  margin-bottom: 26px;
  text-align: center;
}
.benefit__wrap-img {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs {
  margin-bottom: 118px;
}
.tabs__header {
  display: flex;
}
.tabs__item {
  font-family: "Open Sans";
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  max-width: 201px;
  width: 100%;
}
.tabs__item-open {
  border-color: #c6cbcd;
  border-radius: 5px;
}

.tab__content {
  display: flex;
  border: #c6cbcd 1px solid;
}
.tab__info {
  padding: 55px 29px 54px 100px;
  width: 60%;
}
.tab__info-header {
  font-family: "Open Sans";
  margin-bottom: 57px;
  /*font-size: xx-large; - из макета бере, не из головы*/
}
.tab__info-text {
  /* width: 570px; */
  font-family: "Raleway";
  margin-bottom: 26px;
}
.tab__info-text:last-of-type {
  margin-bottom: 0;
}
.tab__info-button {
  margin-top: 84px;
  max-width: 270px;
  width: 100%;
  /* height: 58px; */
  background-color: #ec7979;
  color: white;
  font-family: "Open Sans";
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  /* font-size: large; - из макета */
}

.tab__wrap-image {
  width: 40%;
}

.tab__img {
  width: 100%;
  height: 100%;
}
