* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.benefits{
  margin-bottom: 110px;
}
.benefits__title::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 170px;
  border: 1px solid #EC7979;
  display: inline-block;
  transform: translate(-50%, 40px);
}
.benefits__title {
  position: relative;
  font-family: 'Raleway' , sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 80px;
}
.benefits__text {
  font-family: 'Raleway' , sans-serif;
  text-align: center;
  color: #86878b;
}

.benefits__header {
  margin-bottom: 92px;
}

.benefits__content {
  display: flex;
  column-gap: 27px;
}
.benefit__description{
  font-family: 'Raleway' , sans-serif;
}
.benefit {
  text-align: center;
  max-width: 371px;
}
.benefit__title {
  font-family: 'Open Sans' , sans-serif;
  margin-bottom: 26px;
  text-align: center;
}
.benefit__wrap-img {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #EC7979 solid 1px;
  margin-left: auto;
  margin-right: auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
.benefit__img1{
  width: 65px;
  height: 65px;
}
.benefit__img2{
  width:66px;
  height: 46px;
}
.benefit__img3{
  width:44px;
  height: 66px;
}
.tabs {
  margin-bottom: 118px;
}
.tabs__header {
  display: flex;
}
.tabs__item {
  font-family: 'Open Sans' , sans-serif;
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  max-width: 201px;
  width: 100%;
}
.tabs__item-open {
  border-color: #c6cbcd;
  border-radius: 5px;
}

.tab__content {
  display: flex;
  border: #c6cbcd 1px solid;
}
.tab__info {
  padding: 55px 29px 54px 100px;
  width: 60%;
}
.tab__info-header {
  font-family: 'Open Sans' , sans-serif;
  margin-bottom: 57px;
  /*font-size: xx-large; - из макета бере, не из головы*/
}
.tab__info-text {
  /* width: 570px; */
  font-family: 'Raleway' ,sans-serif;
  margin-bottom: 26px;
}
.tab__info-text:last-of-type {
  margin-bottom: 0;
}
.tab__info-button {
  margin-top: 84px;
  max-width: 270px;
  width: 100%;
  /* height: 58px; */
  background-color: #ec7979;
  color: white;
  font-family: 'Open Sans' , sans-serif;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  /* font-size: large; - из макета */
}

.tab__wrap-image {
  width: 40%;
}

.tab__img {
  width: 100%;
  height: 100%;
}
.pricing{
  background: #F5F5F5;
}
.pricing__header{
  margin-bottom: 59px;
}
.pricing__header_h2{
text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 36px;
font-weight: 400;
padding-top: 82px;
text-transform: uppercase;
margin-bottom: 40px;
}
.pricing__header_line{
  height: 1px;
  border: 1px solid #EC7979;
  width: 170px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.pricing__header_txt{
  font-family: 'Raleway' , sans-serif;
  font-size: 18px;
  color: #86878B;
  text-align: center;
}
.pricing__maine_list{
  display: flex;
  column-gap: 30px;
  justify-content: center;
}
.pricing__maine_block{
  max-width: 370px;
  width: 100%;
}
.list__item-black1{
  max-width: 370px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  color: white;
  background-color: #333333;
  font-family: 'Open Sans' , sans-serif;
  text-align: center;
  font-size: 24px;
  border: 1px solid white;
}
.list__item-black2{
  max-width: 370px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  color: white;
  background-color: #333333;
  font-family: 'Open Sans' , sans-serif;
  text-align: center;
  font-size: 36px;
  border: 1px solid white;
}
.list__item-black3{
  max-width: 370px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #86878B;
  background-color: #333333;
  font-family: 'Raleway' , sans-serif;
  text-align: center;
  font-size: 18px;
  border: 1px solid white;
}
.list__item-white{
  border: 1px solid #F5F5F5;
  max-width: 370px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-family: 'Raleway' , sans-serif;
  color: #86878B;
  background-color: white;
  text-align: center;
}
.pricing__maine_block2{
  margin-top:-20px;
}
header{
  background-color: #000000;
}
.header__img{
  padding-top: 22px;
  padding-bottom: 22px;
}
.header__flexCont-img{
  display: flex;
  margin-left: 152px;
}
.header__flexCont-points{
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.header__button{
  color:#FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #000000;
  border: none;
}
.header__flexCont{
  display: flex;
  justify-content: space-between;
}
.social{
  background-color:#F8EFEF;
  margin-bottom: 100px;
}
.social__leftPart{
  padding-top: 32px;
  padding-bottom:18px;
}
.social__leftPart-h2{
  font-family: 'Open Sans' , 'sans serif';
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 16px;
}
.social__leftPart-txt{
  font-family: 'Raleway' , 'sans serif';
  font-weight: 400;
  color:#86878B;
  max-width: 470px;
  width: 100%;
}
.social__rightPart{
  display: flex;
  column-gap: 45px;
  align-items: center;
}
.social__flex-maine{
  display: flex;
  column-gap: 50px;
}
footer{
  background-color: #000000;
}
.footer__flexCont{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:41px;
  padding-bottom: 33px;
  column-gap: 45px;
}
.footer__txt{
  font-family: 'Raleway' , 'sans serif';
  font-weight: 400;
  color: #86878B;
  font-size: 18px;
  text-align: center;
  padding-bottom: 27px;
}
.download__header{
font-family: 'Raleway', 'sans serif';
font-weight: 400;
text-align: center;
text-transform: uppercase;
color: white;
font-size: 36px;
background-size: cover;
position: relative;
margin-bottom: 80px;
padding-top: 70px;
z-index: 2;
}
.download__header::before{
  content: '';
  position: absolute;
  width: 170px;
  border: 1px solid white;
  left: 50%;
  top: 100%;
  transform: translate(-50% , 40px);
  z-index: 2;
}
.download{
  background-image:url(./img/download/bgcity.jpg) ;
background-size: cover;
}
.download__darkWrap{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.download__txt{
  font-family: 'Raleway', 'sans serif';
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 80px;
  z-index: 2;
}
.download__button{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 370px;
  height: 58px;
  font-family: 'Open Sans', 'snas serif';
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 70px;
  background-color: rgba(0, 0, 0, 0);
border: 2px solid white;
color: white;
z-index: 2;
}
