* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.tabs {
   margin-top: 110px;
   margin-bottom: 118px;

}

.container__tabs {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
   border: 1px solid #C6CBCD;
}

.tab__content {
   max-width: 570px;
   margin: 55px 29px 54px 100px;
}

.tab__content-header {
   font-size: 30px;
   font-family: 'Open Sans';
   text-align: center;
   margin-bottom: 57px;
}

.tab__content-text1 {
   text-align: left;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   margin-bottom: 26px
}

.tab__content-text2 {
   text-align: left;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   margin-bottom: 84px;
}

.content__item-button {
   border: none;
   width: 270px;
   height: 58px;
   background-color: #EC7979;
   font-family: 'Open Sans';
   font-size: 18px;
   text-align: center;
   color: #FFFFFF;
}

.about {
   margin-bottom: 110px;
}

.container {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}

.about__title {
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   margin-bottom: 40px;
}

.separator {
   border: none;
   width: 170px;
   height: 1px;
   margin: 0 auto 40px;
   background-color: #EC7979;
}

.about__text {
   text-align: center;
   color: #86878B;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   margin-bottom: 90px;
}

.content {
   margin: 92px 0px;
}

.content__item {

   margin-right: 27px;
   width: calc((100% - 27px - 27px - 8px) / 3);
   display: inline-block;
}

.content__item-image {
   border: 1px solid #EC7979;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   margin: 0px auto 24px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image {
   max-width: 74px;
}

.content__item:last-child {
   margin-right: 0;
}

.content__item-header {
   text-align: center;
   font-family: 'Open Sans';
   font-size: 24px;
   margin-bottom: 30px;
}

.content__item-text {
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
}