* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-page-header {
  background-color: black;
  padding: 22px 0;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-page-header__logo {
  max-height: 75px;
}

.main-page-header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 569px;
  width: 100%;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}



.modern {
  padding-top: 306px;
  padding-bottom: 185px;
  position: relative;
  background-image: url(../assets/modern-background.png);
  background-size: cover;
}

.modern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.modern__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.modern__mainpage {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.mainpage-info__logo {
  margin-bottom: 73px
}
.modern__mainpage-info{
  max-width: 670px;
  width: 100%;
  margin-right: 101px;
}
.mainpage-info__title {
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 97px;
  position: relative;
}

.mainpage-info__title::after {
  content: '';
  width: 170px;
  border-bottom: 1px solid #ffffff;
  display: block;
  position: absolute;
  bottom: -55px;
}

.mainpage-info__text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 42px;
  max-width: 270px;
  width: 100%;
}

.mainpage-info__button {
  padding: 14px;
  max-width: 270px;
  width: 100%;
  border: 2px solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: transparent;
  color: #ffffff;
}

.mainpage-info__button:hover {
  color: #EC7979;
  border: 2px solid #ec7979;
}

.mainpage-info__button:active {
  background: #AB4949;
  border: 2px solid #AB4949;
  color: #ffffff;
}

.modern__mainpage-form {
  background-color: #ffffff;
  max-width: 470px;
  width: 100%;
  border-radius: 10px;
  padding-top: 36px;
}

.mainpage-form__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-bottom: 75px;
}

.mainpage-form__input {
  display: block;
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  align-items: center;
  margin-bottom: 31px;
  /* height: 38px; */
  padding: 16px 0;
  max-width: 370px;
  width: 100%;
  margin: 0 auto 31px;
}
.mainpage-form__input:last-of-type{
  margin-bottom: 0;
}

.mainpage-form__input::placeholder {
  padding-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD
}

.mainpage-form__getstarted {
  margin-top: 75px;
  background-color: #EC7979;
  color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  max-width: 470px;
  padding: 22px;
  width: 100%;
  border: 0;
}

.span-title-word--FREE {
  color: #ec7979;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}



.social-media {
  background-color: #F8EFEF;
  padding-top: 32px;
  padding-bottom: 18px;
  margin-bottom: 100px;
}

.social-media__container {
  display: flex;
}

.social-media__content {
  margin-right: 50px;
  max-width: 470px;
  width: 100%;
}

.social-media__content-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-bottom: 16px;
}

.social-media__content-text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.social-media__links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-media__link{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  margin-bottom: 103px;
}

.tabs__list {
  display: flex;
}

.tabs__list-link {
  max-width: 184px;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  text-decoration: none;
}

.tabs__list-link--active {
  border-color: #c6cbcd;
  position: relative;
}

.tabs__list-link--active::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background: white;
}

.tabs-list__link {
  text-transform: uppercase;
}

.tab {
  display: flex;
  border: 1px solid #c6cbcd;
}

.tab__content {
  width: 60%;
  padding: 55px 29px 54px 100px;
}

.tab__content-header {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin-bottom: 57px;
}

.tab__content-text {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 26px;
}

.tab__content p:last-of-type {
  margin-bottom: 84px;
}

.tab__content-button {
  border: none;
  max-width: 270px;
  width: 100%;
  background-color: #ec7979;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 16px;
  line-height: 26px;
}

.tab__wrap-image {
  width: 40%;
}

.tab__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.about {
  margin-bottom: 110px;
}

.title {
  margin-bottom: 90px;
}

.about__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 80px;
  position: relative;
}

.about__title::after {
  content: '';
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-85px);
  bottom: -40px;
}

.about__text {
  text-align: center;
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.content__item {
  width: calc((100% - 27px - 27px) / 3);
}

.content__item-image {
  border: 1px solid #ec7979;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0px auto 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__item-header {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.content__item-text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.content {
  display: flex;
  column-gap: 27px;
}



.pricing {
  background-color: #f5f5f5;
  padding: 82px 0 83px;
  margin-bottom: 107px;
}

.pricing__header {
  margin-bottom: 79px;
}

.pricing__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 80px;
  text-transform: uppercase;
  line-height: 42px;
  position: relative;
}

.pricing__title::after {
  content: '';
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  bottom: -40px;
}

.pricing__text {
  text-align: center;
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.pricing__content {
  display: flex;
  column-gap: 30px;
}

.pricing__content div:nth-child(2) {
  margin-top: -20px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing__content-item {
  max-width: 370px;
  width: 100%;
}

.pricing__content-packtitle {
  color: #ffffff;
  background-color: #333333;
  border-bottom: 2px solid #f5f5f5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  padding: 13px;
}

.pricing__content-price {
  color: #ffffff;
  background-color: #333333;
  border-bottom: 2px solid #f5f5f5;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  padding: 29px;
}

.pricing__content-description {
  color: rgba(255, 255, 255, 0.5);
  background-color: #333333;
  border-bottom: 2px solid #f5f5f5;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px;
}

.pricing__content-advantage {
  color: #86878b;
  background-color: #ffffff;
  border-bottom: 2px solid #f5f5f5;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px;
  text-transform: capitalize;
}



.customers {
  background-color: #ffffff;
  margin-bottom: 107px;
}

.customers__header {
  margin-bottom: 83px;
}

.customers__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 80px;
  text-transform: uppercase;
  line-height: 42px;
  position: relative;
}

.customers__title::after {
  content: '';
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  bottom: -40px;
}

.customers__text {
  text-align: center;
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.customers__content {
  display: flex;
  column-gap: 30px;
  /*max-height: 180px;*/
  height: 100%;
}

.customer__info{
  width: calc(100% - 70px - 30px);
}

.customers__content-text {
  padding: 38px 25px 37px;
  background-color: #E2E2E2;
  border-radius: 10px;
  text-align: center;
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 66px;
  position: relative;
}

.customers__content-text::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
  position: absolute;
  top: 100%;
  left: 70px;
}

.customers__content-customer {
  display: flex;
  column-gap: 30px;

}

.customer__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 18px;
  max-width: 270px;
  width: 100%;
  max-height: 30px;
  height: 100%;
}

.customer__position {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.customer__photo {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}



.design {
  background-image: url(../assets/design-background.jpg);
  position: relative;
  padding: 70px 0;
  margin-bottom: 67px;
}

.design::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.design__container {
  position: relative;
  z-index: 1;
}

.design__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 80px;
}

.design__title::after {
  content: '';
  width: 170px;
  border-bottom: 1px solid #FFFFFF;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  bottom: -40px;
}

.design__text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.design__button {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  max-width: 370px;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}



.contact {
  background-color: #FFFFFF;
  margin-bottom: 66px;
}

.contact__form {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}

.contact__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 80px;
  text-transform: uppercase;
  line-height: 42px;
  position: relative;
}

.contact__title::after {
  content: '';
  width: 170px;
  border-bottom: 1px solid #ec7979;
  display: block;
  position: absolute;
  left: calc(50% - 85px);
  bottom: -40px;
}

.contact__text {
  text-align: center;
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.contact__header{
  margin-bottom: 89px;
}

.contact__form-input {
  display: block;
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  padding: 16px 0;
  width: 100%;
  margin-bottom: 34px;
}

.contact__form-input:last-of-type{
  margin-bottom: 0;
}

.contact__form-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD
}

.contact__form-input-user {
  max-width: 571px;
  width: 100%;
}

.contact__form-message {
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  max-width: 571px;
  width: 100%;
  resize: none;
  padding: 16px 0;
}

.contact__form-message::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD
}

.contact__form-sendmessage {
  margin: 0 385px 66px;
  max-width: 370px;
  padding: 21px;
  width: 100%;
  background-color: #EC7979;
  color: #FFFFFF;
  border: 0;
  display: inline-block
}



.main-page-footer {
  padding: 35px 0 27px;
  max-height: 164px;
  height: 100%;
  background-color: #000;
}

.main-page-footer__link {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page-footer__links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  width: 100%;
  margin-bottom: 28px;
}


.main-page-footer__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}