* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*   Блок Tabs   */
.tabs {
  font-family: "Open Sans";
  margin: 0 auto 118px;
}
.tabs-n {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  max-width: 184px;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-bottom: none;
}
.tabs-n__active {
  border-color: #c6cbcd;
  border-radius: 5px 5px 0 0;
}
.tab {
  border: 1px solid #c6cbcd;
  display: flex;
}
.tab__info {
  width: 60%;
  padding: 55px 29px 54px 100px;
}
.tab__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 40px;
}
.tab__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 26px;
}
.tab__text:last-of-type {
  margin-bottom: 0;
}
.tab__btn {
  font-weight: 600;
  color: #ffffff;
  background-color: #ec7979;
  font-size: 18px;
  line-height: 24px;
  padding: 17px;
  max-width: 270px;
  width: 100%;
  border: none;
  margin-top: 84px;
}
.tab__wrap {
  width: 40%;
}
.tabs__foto {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*   Блок Awesom   */
.designs {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 110px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.designs__title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 42px;
  margin-bottom: 40px;
}
.line {
  border: 1px solid #ec7979;
  margin: 0px auto 40px;
  width: 170px;
}
.designs__text {
  color: #86878b;
  font-size: 18px;
  line-height: 21.13px;
  margin-bottom: 92px;
}
.ellips {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  margin: 0px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disign__name {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 33px;
}
.designs__block {
  display: flex;
  column-gap: 27px;
}
.design {
  width: calc((100% - 28px - 27px) / 3);
}

.design__text {
  color: black;
  font-size: 18px;
  line-height: 21px;
}
/*   Блок Pricing   */
.pricing {
  background-color: #f5f5f5;
  padding-bottom: 83px;
  padding-top: 82px;
  text-align: center;
}

.pricing__header {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #000000;
  max-width: 1170;
  width: 100%;
  margin: 0 auto 40px;
}
.pricing__line {
  border: 1px solid #ec7979;
  width: 100%;
  max-width: 170px;
  margin: 0 auto 40px;
}
.pricing__text {
  color: #86878b;
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 1170;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto 79px;
}
.pricing__prices {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}
.pricing__type {
  max-width: 370px;
  width: 100%;
}
.pricing__type--active {
  margin-top: -20px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.prices__name {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 14px;
}
.prices__price {
  background-color: #333333;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 100px;
  border: 1px solid #f5f5f5;
}
.prices__text {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  border: 1px solid #f5f5f5;
}
.prices__list {
  list-style: none;
  line-height: 50px;
  background-color: #ffffff;
  color: #86878b;
  font-weight: 400;
  font-size: 18px;
}
.prices__item {
  border: 2px solid #f5f5f5;
}
